body{
    background-color: rgb(210, 171, 171);
    color: rgba(0, 0, 0, 0.756);
}


h1 {
    color: rgb(125, 24, 26);
    border: 3 px solid; red
    font-size: 30px;

}
.oneri{
color: rgb(105, 5, 5);
}
h4{
    color: rgb(205, 31, 33);
}  
.baslik{
    color: rgb(125, 24, 26);
}